@page "/todocomponent"

<h3>TodoComponent</h3>

<EditForm Model="@todoModel">
    <div>
        <label class="form-label">Task</label>
        <input class="form-control" id="task" @bind-value="todoModel.Task" />

        <button class="btn btn-primary" @onclick="AddTodo">Save</button>
    </div>
</EditForm>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>Task</td>
            <td>Is Completed?</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in todoList)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Task</td>
                <td>@item.IsCompleted</td>
                <td>
                    @if (!item.IsCompleted)
                    {
                        <button class="btn btn-sm btn-warning" @onclick="() => CompleteTask(item.ID)">Complete</button>
                    }

                    <button class="btn btn-sm btn-info" @onclick="() => EditTodo(item.ID)">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<TodoModel> todoList = new();
    public TodoModel todoModel = new();

    public void AddTodo()
    {
        var todoTask = todoList.Find(x => x.ID == todoModel.ID);
        if (todoTask != null && todoTask.ID != 0)
        {
            todoTask.Task = todoModel.Task;
        }
        else
        {
            todoModel.ID = todoList.Count + 1;
            todoList.Add(todoModel);
        }
        todoModel = new();
    }

    public void CompleteTask(int ID)
    {
        var toComplete = todoList.Find(x => x.ID == ID);
        if (toComplete != null)
            toComplete.IsCompleted = true;
    }

    public void EditTodo(int ID)
    {
        var toEdit = todoList.Find(x => x.ID == ID);
        if (toEdit != null)
        {
            todoModel.ID = toEdit.ID;
            todoModel.Task = toEdit.Task;
            todoModel.IsCompleted = toEdit.IsCompleted;
        }
    }
}
